<!DOCTYPE html>
<html>

<head>
    <title>Centralia Game Board</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body> 
    <!-- <div style="text-align: center;margin:10px;font-size:200%;border:0px solid black; position: absolute; top: 1%; left: 0; right: 0;">
        Turn {{ turn }}
    </div> -->
    {{chyron_html|safe}}
    <table>
        <tr>
            <td  style="height:114px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:18%;">
                <h2>National Agendas</h2>
                {{agenda_table|safe}}
            </td>
            <td  id="gameboard">
                
                    <img src="data:image/png;base64,{{ gameboard_map }}" alt="Gameboard Map">
                
            </td>
        </tr>
    </table>


    <div style="border:0px solid black; position: absolute; top: 12%; left: 85%; right: 0; width:12%">
        {{outcome_html|safe}}
    
    </div>

    <!-- <div style="border:0px solid black; position: absolute; top: 90%; left: 0; right: 0%; width:100%; display:flex; justify-content: center; overflow: hidden">
        <span style="white-space: nowrap; font-size:3vw">
            {{announcement}}
        </span>
    </div> -->
    
<div class="container" id="container">
    <span class="text" id="text">{{announcement}}</span>
</div>


</body>

</html>